@import "../../lib/element/yo-loading";

.m-detail {
  header {
    background: #0dc441;
    height: .44rem;
    ul {
      @include flexbox();
      height: 100%;
      li {
        height: 100%;
        &:not(:nth-child(2)) {
          width: .44rem;
          text-align: center;
          line-height: .44rem;
          color: #fff;
          font-size: .2rem;
        }
        &:nth-child(2) {
          @include flex(1);
          width: 100%;
          text-align: center;
          line-height: .44rem;
          color: #fff;
        }
      }
    }
  }
  section {
    img {
      width: 100%;
    }
  }
}
