.m-search {
  .m-search-img {
    height: 2rem;
    width: 100%;
    background: #ddd;
  }
  .m-search-menu {
    height: .44rem;
    background: red;
    width: 100%;
    &.fixed {
      position: fixed;
      left: 0;
      top: 0;
    }
  }
  .m-search-content {
    height: 10rem;
    background: #f9efd4;
    width: 100%;
  }
}

.m-search-menu {
  height: .44rem;
  background: red;
  width: 100%;
  &.fixed {
    position: fixed;
    left: 0;
    top: 0;
  }
}
